body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #eef2f5;
    text-align: center;
}

.header {
    background: #0A3D91;
    padding: 25px;
    color: white;
}

.header h1 {
    margin: 0;
    font-size: 38px;
}

.header p {
    margin-top: 5px;
    font-size: 18px;
}

.container {
    margin-top: 50px;
    padding: 20px;
}

.hero-img {
    width: 150px;
    margin-bottom: 25px;
}

.subtitle {
    width: 70%;
    margin: auto;
    font-size: 18px;
    color: #444;
    margin-bottom: 30px;
}

.start-btn {
    background: #0A3D91;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.start-btn:hover {
    background: #083374;
}

footer {
    margin-top: 60px;
    padding: 15px;
    color: #666;
}
